build
.DS_Store
*.o

.DS_Store
*/.DS_Store
*.xcuserstate
project.xcworkspace
xcuserdata
UserInterfaceState.xcuserstate
project.xcworkspace/
xcuserdata/
UserInterface.xcuserstate
*.xcschememanagement

Pods
!Podfile
!Podfile.lock
!Manifest.lock

xcuserdata
profile
.idea/
*.xcworkspace
!default.xcworkspace

*.xcworkspace

*.air

local.properties
example/apple/iOS/GlrDemo/Gemfile.lock
example/apple/iOS/GlrDemo/Podfile.lock